<label for="title">Title</label>
<input type="text" id= "title" name="title" value="<%= todolist.title %>">
<br>
<textarea rows="10" cols="50" type="text" id= "entry" name="entry" value="<%= todolist.entry %>"><%= todolist.entry %></textarea>
<br>