<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/todolist">Notebook</a></li>
            <li><a href="/todolist/new">New Note</a></li>
        </ul>
    </nav>
    <img class="logo" src="/assets/logo.jpg" alt="notebook logo">
</header>