<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/todolist">My To Do List</a></li>
            <li><a href="/todolist/new">My To Do List</a></li>
        </ul>
    </nav>
</header>