<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/todolist">To Do List</a></li>
            <li><a href="/todolist/new">New Item</a></li>
        </ul>
    </nav>
    <img class="logo" src="/public/assets/logo.svg" alt="notebook logo">
</header>