<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/todolist">My To Do List</a></li>
            <li><a href="/todolist/new">Create New Item</a></li>
        </ul>
    </nav>
</header>