<h2>All To-Do List Items</h2>
<br>
<% todolist.forEach(todolist => { %>
    <div>
        <h4><%= todolist.title %>
        <input type="hidden" name="isComplete" value="isComplete">
        <button><a href="/todolist/<%= todolist._id %>/edit">Edit</a></button>
        <button><a href="/todolist/<%= todolist._id %>/delete">Delete</a></button>
        </h4>
    </div>
<% }) %>