<div class="content-container">
    <h2>welcome to Notebook.</h2>
    <p>This app was made for General Assembly as a second project. This application is deployed on heroku and uses
        mongoDB to keep track of all of your to-do list needs, with the potential to scale into a personal CMS. Login
        features to come. Use the navigation bar above to explore the app!</p>
</div>