<div class="content-container">
    <h2>welcome to Notebook.</h2>
    <p>This app was made for General Assembly as a second project. This application is deployed on heroku and uses mongoDB to flexibly keep track of all of your notes in a <strong class="bold-word">notebook</strong> with the potential to scale into a small personal CMS. Additional features to come. Use the navigation bar above to explore the app!</p>
</div>