<h2>Welcome to my To-Do List Web App</h2>
<p>This app was made for General Assempbly as a second project. This application is deployed on heroku and uses mongoDB Atlas to keep track of all of your to-do list needs. Use the navigation bar above to explore the app!</p>